/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

main {
  flex-grow: 1;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

/* Table styles */
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 8px;
}

/* Image styles */
img {
  width: 50%;
  height: 300px;
  margin: 10px auto;
  display: block;
}

/* Article styles */
article {
  margin-bottom: 20px;
  padding: 10px;
}

/* Video styles */
video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Audio Styles */
audio {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* Audio styles */
figure {
  text-align: center; /* Center the audio horizontally */
  margin: 10px auto; /* Add margin to the top and bottom */
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 10px;
}

div {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}
form div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover {
  background-color: #00569a;
}
